##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

*.zip
*.tar.gz
*.rar

*.log

*.ctxt

context.xml


fam/
##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
#####
application.properties
email.properties
#####
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Docker
##############################
Dockerfile
111docker-compose.yml

